<div id="<%= dom_id museum %>">
  <div class="card bg-base-100 shadow-xl">
    <figure>
    </figure>
    <div class="card-body">
      <p><%= Museum.human_attribute_name(:name) %>:<%= museum.name %></p>
      <p><%= Museum.human_attribute_name(:location) %>:<%= museum.location %></p>
      <p><%= Museum.human_attribute_name(:business_hour) %>:<%= museum.business_hours %></p>
      <p><%= Museum.human_attribute_name(:admission_fees) %>:<%= museum.admission_fees %></p>
      <p><%= Museum.human_attribute_name(:website_url) %>:<%= museum.website_url %></p>
      <p><%= Museum.human_attribute_name(:phone_number) %>:<%= museum.phone_number %></p>
      <div class="flex justify-end items-center">
        <div class="mr-2">
          <p>評価：<%= museum.reviews.average(:rating01)&.round(2) || "評価なし" %></p>
        </div>
        <div>
          <progress class="progress w-28 mr-4" value="<%= museum.reviews.average(:rating01)&.round(2) %>" max="5"></progress>
        </div>
      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/2018_National_Art_Center%2C_Tokyo_2.jpg/1920px-2018_National_Art_Center%2C_Tokyo_2.jpg">
      <% unless params[:action] == 'show' %>
        <%= link_to "Show this museum", museum, class:"btn btn-sm" %>
      <% end %>
      <%= link_to "New Reviews", new_museum_review_path(museum), class:"btn btn-sm" %>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">タグ１</div>
        <div class="badge badge-outline">タグ２</div>
      </div>
    </div>
  </div>
</div>
