<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :exhibition, style: "display: block" %>
    <%= form.text_field :exhibition %>
  </div>

  <div class="rating rating-md rating-half">
    <input type="radio" name="rating-10" class="rating-hidden" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-1 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-2 bg-primary" />
    <input
        type="radio"
        name="rating-10"
        class="mask mask-star-2 mask-half-1 bg-primary rating-xs"
        checked="checked" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-2 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-1 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-2 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-1 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-2 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-1 bg-primary" />
    <input type="radio" name="rating-10" class="mask mask-star-2 mask-half-2 bg-primary" />
  </div>
  <div>
    <%= form.label :main_photo, "メイン写真" %>
    <%= form.file_field :main_photo %>
  </div>

  <div>
    <%= form.label :sub_photos, "サブ写真（最大3枚）" %>
    <%= form.file_field :sub_photos, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
