<%= form_with(model: [@museum, review]) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-center">
    <div>
      <div class="mt-2">
        <%= form.text_field :exhibition, class: "input input-bordered flex items-center gap-2 w-full", placeholder: Review.human_attribute_name(:exhibition) %>
      </div>

      <div class="mt-2">
        <%= form.text_field :body, class: "input input-bordered flex items-center gap-2 w-full", placeholder: Review.human_attribute_name(:body) %>
      </div>
      <!-- レーティングフォーム-->
      <%= render partial: "ratingforms" %>
      
      <div class="w-full flex justify-between items-center">
        <%= form.label :main_photo, Review.human_attribute_name(:main_photo) %>
        <%= form.file_field :main_photo, class: "file-input file-input-bordered w-full max-w-xs mt-2 ml-4" %>
      </div>

      <div class="w-full flex justify-between items-center">
        <%= form.label :sub_photos, Review.human_attribute_name(:sub_photos) %>
        <%= form.file_field :sub_photos, multiple: true, class: "file-input file-input-bordered w-full max-w-xs mt-2 ml-4" %>
      </div>

      <div class="w-full">
        <%= form.submit class: "btn btn-wide m-2 w-full" %>
      </div>
    </div>
  </div>
<% end %>
