<div id="<%= dom_id review %>">
  <div class="card bg-base-100 w-96 shadow-xl">
    <figure>
      <%= image_tag review.main_photo.variant(resize_to_fill: [200, 200]) if review.main_photo.attached? %>
    </figure>
    <div class="card-body">
      <h2 class="card-title">Review</h2>
      <p>説明文</p>
      <p>展示会:<%= review.exhibition %></p>
      <p>作成者:<%= review.user.name %></p>
      <%= link_to "Show this review", review, class:"btn btn-sm" %>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">タグ１</div>
        <div class="badge badge-outline">タグ２</div>
      </div>
    </div>
  </div>
</div>
