<div id="<%= dom_id review %>" class="flex justify-center">
  <div class="card bg-base-100 w-full shadow-xl">
    <figure>
      <%= image_tag review.main_photo.variant(resize_to_fill: [200, 200]) if review.main_photo.attached? %>
    </figure>
    <figure>
      <% if review.sub_photos.attached? %>
        <% review.sub_photos.each do |photo| %>
          <%= image_tag photo.variant(resize_to_fill: [100, 100]), class:"m-2" %><br> 

        <% end %>
      <% else %>
        <img src="http://placehold.jp/150x150"><br>
      <% end %>
    </figure>
    <div class="card-body">
      <p><%= Museum.human_attribute_name(:name) %>: <%= review.museum.name %></p>
      <p><%= Review.human_attribute_name(:exhibition) %>: <%= review.exhibition %></p>
      <p><%= Review.human_attribute_name(:body) %>: <%= review.body %></p>
      <p><%= Review.human_attribute_name(:rating01) %>: <%= review.rating01 %></p>
      <p><%= User.human_attribute_name(:name) %>: <%= review.user.name %></p>
      <% unless params[:action] == 'show' %>
        <%= link_to "Show this review", museum_review_path(review.museum, review), class: "btn btn-sm" %>
      <% end %>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">タグ１</div>
        <div class="badge badge-outline">タグ２</div>
      </div>
    </div>
  </div>
</div>
